ansible==1.5.4
Django==1.7
python-dateutil==2.6.0
supervisor==3.0b2

numpy>=1.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
paramiko>=1.17.6 # not directly required, pinned by Snyk to avoid a vulnerability